# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0faf310a681f741b918306106e05697ba66f573608c42af38aa959942574a50b51e69cc187b05f7661064c1a17f173ec8a74b5ce5c4190413fba8d8df2de237a

test:
  secret_key_base: 2570cfd12a99f88c75b075740e797bcb2202e22fbeecaeedd2224d346ae454a34719605c9456accdd1f7ef42b0a8b21d3faa7fb3c0db0af541ec70d63f637d59

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
